*{
  margin: 0;
}
body{
  background-color: #f5f6fa
}
.App{
  display: flex; 
  justify-content: space-evenly;
  padding: 20px;
}
.appHeader{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.appHeader > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}
.appLeft{
  flex: 0.9
}
.stats{
  display: flex;
  justify-content: space-between;
}
.appInformation > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.appInformation > h3:last-of-type {
  margin-top: 1rem;
}

@media(max-width: 990px){
  .App{
    flex-direction:column;
  }
}
.appDropdown {
  background-color: white;
}